*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto Mono", system-ui;;
    scroll-behavior: smooth;

    
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 1,
  'opsz' 16
}

:root {
    --rich-black: #0d1b2aff;
    --oxford-blue: #1b263bff;
    --yinmn-blue: #415a77ff;
    --silver-lake-blue: #778da9ff;
    --platinum: #e0e1ddff;
}

body{
    height: 100%;
    background-color:var(--platinum);
    overflow-x: hidden;
    
}

/* for all pages */

a:link {
    color: var(--oxford-blue);
}
  
/* visited link */
a:visited {
    color: purple;
}
  
/* mouse over link */
a:hover {
    color: #0000FF;
}
  
/* selected link */
a:active {
    color: var(--rich-black);
}

a[target] {
    color: #000;
}

.button{
    background-color: var(--oxford-blue);
    color: var(--platinum);
    border: none;
    border-radius: 0;
    padding: 10px 20px;
    margin: 10px 0px;
    transition: font-size 0.3s;
    text-decoration: none;
    color: var(--platinum);
}

.button:hover{
    background-color: var(--yinmn-blue);
    font-size: 1.1em;
}

/* Nav bar */

.nav-section{
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.nav{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-start;
    align-items: flex-start;
    padding-left: 50px;
}

.nav a{
    padding-right: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--rich-black);
    transition: font-size 0.3s;
}

.nav a:hover{
    color: var(--yinmn-blue);
    font-size: 1.5em;
    
}

.active{
    color: var(--yinmn-blue); 
    font-size: 1.5em;  
    font-weight: bold;       
}

/* Nav bar end */

/* home */
.bio-container{
    position: relative;
    top: 10%;
    bottom: 10%;
    display: grid;
    padding: 50px;
    justify-content: start;
    align-items: center;
    justify-items: start;
    width: 100%;
}

.bio{
    font-size: 4em;
}

.bio-button{
    margin: 20px 0px;
}

/* animation */
.animation {
    z-index: -1;
    width: 100px;
    height: 100px;
    background-color: var(--platinum);
    position: absolute;
    animation-name: example;
    animation-duration: 25s;
    animation-iteration-count: infinite;
}
  
@keyframes example {
    0%   {background-color:var(--silver-lake-blue); left:150px; top:150px;}
    25%  {background-color:var(--yinmn-blue); left:600px; top:100px;}
    45%  {background-color:var(--silver-lake-blue); left:350px; top:300px}                        
    60%  {background-color:blue; left:1000px; top:400px;}
    85%  {background-color:var(--yinmn-blue); left:370px; top:500px;}
    100% {background-color:var(--silver-lake-blue); left:150px; top:150px;}
} 

/* footer */

footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: left;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.footer-text{
    padding-left: 50px;
}

.quick-links{
    padding-right: 50px;
}

.quick-links a:visited {
    color: var(--oxford-blue);
}

.quick-links a:hover {
    color: #0000FF;
}


  
  
/* Blog page */ 

.blog-section{
    position: relative;
    top: 10%;
    bottom: 10%;
    display: flex;
    padding: 0px 50px 50px;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}

.blog-aside {
    width: 30%;
    padding: 20px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
    float: left;
    font-style: italic;
    background-color: var(--silver-lake-blue);
}

.blog-aside p{
    color: white;
}

.newsletter-button{
    margin: 20px 0px;
}

/* blog cards */
.card {
    margin: 10px;
    background-color: lightgray;
    border-radius: 0;
    overflow: hidden;
    height: 300px;
    width: 300px;
}

.card img{
    width: 100%;
    height: 150px;
    padding: 10px 10px 0px 10px;
    object-fit: cover;
}
.card-body {
    display: flex;
    padding: 20px;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
}

.card-body p:first-child {
    font-weight: bold;
    font-size: 1.1em;
}

.card-body p:nth-child(2){
    font-size: 0.7em;
}

.card-body a{
    text-decoration: none;
}

.card:hover{
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

/* card end */

.banner-blog h1{
    margin-bottom: 20px;
}
/* blog page end */ 


/* form page styles */ 
.form-text{
    padding: 0px 50px;
}
.foam-section{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;

    padding: 20px 50px;
}

input[type=text]:enabled {
    background-color:var(--platinum);
    border-color: var(--rich-black);
}
  
input[type=text]:disabled {
    background-color:var(--platinum);
    border-color: var(--rich-black);
    background-color: red;
}

input:checked {
    height: 15px;
    width: 15px;
}

input:valid {
    border: 2px solid green;
}

input:invalid {
    border: 2px solid red;
}

/* form end */

/* Blog post articles */ 
article {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-around;
    align-items: center;
    padding: 20px 200px;
    background: linear-gradient(to bottom, var(--platinum), white);
}

.pseudo-elements p::first-letter {
    font-size: 1.5em;
    color: var(--oxford-blue); 
    font-weight: bold;        
    font-style: italic;
}

.pseudo-elements p::first-line {
    font-style: italic;
    color: var(--yinmn-blue); 
}

.pseudo-elements p::before {
    content: "Description: "; 
    font-weight: bold; 
    color: var(--silver-lake-blue); 
}

.pseudo-elements p::after {
    content: " - This is a generated content."; 
    font-style: italic; 
    color: #007BFF;
}

.article-banner{
    width: 75%;
}

article > p {
    font-size: 0.9em;
}

article h2 + p {
    font-style: italic;
}

article :not(p) {
    font-size: 1.1em;
}

.semi-transparent{
    color: var(--rich-black);
    opacity: 0.5;
}

/* article end */ 

/* for mobile devices and tab */
@media only screen and (max-width: 768px) {
    
    /* home for mobile*/
 
    .bio{
        font-size: 3em;
    }
    .animation {
        width: 50px;
        height: 0px;
    }

    .animation {
        z-index: -1;
        width: 60px;
        height: 60px;
        background-color: var(--platinum);
        position: absolute;
        animation-name: example;
        animation-duration: 25s;
        animation-iteration-count: infinite;
    }

    @keyframes example {
        0%   {background-color:var(--silver-lake-blue); left:150px; top:150px;}
        25%  {background-color:var(--yinmn-blue); left:100px; top:100px;}
        45%  {background-color:var(--silver-lake-blue); left:250px; top:300px}                        
        60%  {background-color:blue; left:100px; top:400px;}
        85%  {background-color:var(--yinmn-blue); left:170px; top:300px;}
        100% {background-color:var(--silver-lake-blue); left:150px; top:150px;}
    } 

    footer{
        position: relative;
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
        flex-wrap: wrap;
        padding: 15px;
    }

    .quick-links{
        padding-left: 35px;        
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding-right: 35px;
    }

    .footer-text{
        font-size: 0.7em;
        padding-left: 35px;
        padding-right: 35px;
    }

    /* home for mobile end */

    /* blog page mobile */
    .blog-page{
        background: linear-gradient(to bottom, var(--platinum), white);
    }

    .card {
        height: 300px;
        width: 350px;
    }

    .blog-aside {
        width: 75%;
        padding: 20px;
        margin-left: 50px;
        margin-right: 50px;
        margin-bottom: 20px;
        font-style: italic;
        background-color: var(--silver-lake-blue);
    }

    .banner-blog{
        margin: 125px 50px;
    }

    /* blog page for mobile end */ 

    /* article for mobile */
    article {
        padding: 20px 50px;
    }
}

