*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto Mono", system-ui;;
    scroll-behavior: smooth;
}



:root {
    --rich-black: #0d1b2aff;
    --oxford-blue: #1b263bff;
    --yinmn-blue: #415a77ff;
    --silver-lake-blue: #778da9ff;
    --platinum: #e0e1ddff;
}

body{
    height: 100%;
    overflow-y: hidden;
    background-color:var(--platinum);
}

/* Nav bar */

.nav-section{
    margin-top: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.nav{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-start;
    align-items: flex-start;
}

.nav a{
    padding-left: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--rich-black);
    transition: font-size 0.3s
}

.nav a:hover{
    color: var(--yinmn-blue);
    font-size: 1.5em;
    
}

.active{
    color: var(--yinmn-blue); 
    font-size: 1.5em;         
}

/* Nav bar end */

.bio-container{
    display: grid;
    padding: 20px;
    justify-content: start;
    align-items: center;
    justify-items: start;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: left;
}