*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto Mono", system-ui;;
    scroll-behavior: smooth;

    
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 1,
  'opsz' 16
}

:root {
    --rich-black: #0d1b2aff;
    --oxford-blue: #1b263bff;
    --yinmn-blue: #415a77ff;
    --silver-lake-blue: #778da9ff;
    --platinum: #e0e1ddff;
}

body{
    height: 100%;
    background-color:var(--platinum);
    
}

/* for all pages */

button{
    background-color: var(--oxford-blue);
    color: var(--platinum);
    border: none;
    border-radius: 0;
    padding: 10px 20px;
    margin: 10px 0px;
    transition: font-size 0.3s;
}

button:hover{
    background-color: var(--yinmn-blue);
    font-size: 1.1em;
}

a:link {
    color: var(--oxford-blue);
}
  
/* visited link */
a:visited {
    color: purple;
}
  
/* mouse over link */
a:hover {
    color: #0000FF;
}
  
/* selected link */
a:active {
    color: var(--oxford-blue);
}


/* Nav bar */

.nav-section{
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.nav{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-start;
    align-items: flex-start;
    padding-left: 50px;
}

.nav a{
    padding-right: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--rich-black);
    transition: font-size 0.3s;
}

.nav a:hover{
    color: var(--yinmn-blue);
    font-size: 1.5em;
    
}

.active{
    color: var(--yinmn-blue); 
    font-size: 1.5em;  
    font-weight: bold;       
}

/* Nav bar end */

/* home */
.bio-container{
    position: relative;
    top: 10%;
    bottom: 10%;
    display: grid;
    padding: 50px;
    justify-content: start;
    align-items: center;
    justify-items: start;
    width: 100%;
}

.bio{
    font-size: 4em;
}

.bio-button{
    margin: 20px 0px;
}

/* animation */
.animation {
    z-index: -1;
    width: 100px;
    height: 100px;
    background-color: var(--platinum);
    position: absolute;
    animation-name: example;
    animation-duration: 25s;
    animation-iteration-count: infinite;
}
  
@keyframes example {
    0%   {background-color:var(--silver-lake-blue); left:150px; top:150px;}
    25%  {background-color:var(--yinmn-blue); left:600px; top:100px;}
    45%  {background-color:var(--silver-lake-blue); left:350px; top:300px}                        
    60%  {background-color:blue; left:1000px; top:400px;}
    85%  {background-color:var(--yinmn-blue); left:370px; top:500px;}
    100% {background-color:var(--silver-lake-blue); left:150px; top:150px;}
} 

/* footer */

footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: left;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.footer-text{
    padding-left: 50px;
}

.quick-links{
    padding-right: 50px;
}

.quick-links a:visited {
    color: var(--oxford-blue);
}

.quick-links a:hover {
    color: #0000FF;
}

 /* for mobile devices */
@media only screen and (max-width: 768px) {
 
    .bio{
        font-size: 3em;
    }
    .animation {
        width: 50px;
        height: 0px;
    }

    .animation {
        z-index: -1;
        width: 60px;
        height: 60px;
        background-color: var(--platinum);
        position: absolute;
        animation-name: example;
        animation-duration: 25s;
        animation-iteration-count: infinite;
    }

    @keyframes example {
        0%   {background-color:var(--silver-lake-blue); left:150px; top:150px;}
        25%  {background-color:var(--yinmn-blue); left:100px; top:100px;}
        45%  {background-color:var(--silver-lake-blue); left:250px; top:300px}                        
        60%  {background-color:blue; left:100px; top:400px;}
        85%  {background-color:var(--yinmn-blue); left:170px; top:300px;}
        100% {background-color:var(--silver-lake-blue); left:150px; top:150px;}
    } 
    
  }